Options -Indexes -MultiViews
RewriteEngine On
RewriteBase /

#.html লিখিলে.html নোহোৱা URL লৈ যাব
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ %1 [R=301,NE,L]

#.html নোহোৱাকৈ লিখিলে ভিতৰত.html খুলিব
RewriteCond %{REQUEST_FILENAME}!-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]
